# Configurações do Agente
IP_LISTEN=0.0.0.0
PORT_LISTEN=5140

# Configurações da API
API_ENDPOINT=http://open_autonomous_backend:8080/api/v1/events

# Configurações do Banco de Dados PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db
DB_USER=admin
DB_PASSWORD=admin

ADMIN_SECRET_PASSWORD=SuperSenha2026